<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type = "text/css" href="tsis/src/main/resources/static/css/cssindex.css"/>
		<link href="../../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" />
		
	</head>
	
	<body>
		
		<p id="demo">Click the button to change the text in this paragraph.</p>
		<button onclick="myFunction()">Try it</button>
		<div class="w3-row">
			<div class="w3-col m5 l5">
				<p></p>
			</div>
			<div class="w3-col m4 l4 w3-margin">
				<form>
 				 <label>Matricula:</label><br>
 				 <input type="text" id="matricula" name="matricula"><br>
 				 <label>Nombre:</label><br>
  				 <input type="text" id="nombre" name="nombre"><br>
  				 <label>Carrera:</label><br>
  				 <input type="text" id="carrera" name="carrera"><br><br>
  				 <button id="createbtn" type="button" class="w3-button w3-red">CREATE</button>
				 <button id="readbtn" type="button" class="w3-button w3-red">READ</button>
				 <button id="updatebtn" type="button" class="w3-button w3-red">UPDATE</button>
				 <button id="deletebtn" type="button" class="w3-button w3-red">DELETE</button>
				</form> 
			</div>
			<div class="w3-col m3 l3">
				<p></p>
			</div>
		</div>
		
	</body>
	
	<script>
	function myFunction() {
		  document.getElementById("demo").innerHTML = "Hello World";
		}
	
	$(document).ready(function(){
	
		$("#createbtn").click(function(){
			
			  var matricula = $('#matricula').val();
			  var nombre = $('#nombre').val();
			  var carrera = $('#carrera').val();
			
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "/alumnos",
				data : JSON.stringify({"matricula":""+matricula+"","nombre":""+nombre+"","carrera":""+carrera+""}/*datos*/),
				dataType : 'json',
				success : function(result) {
					console.log("data: "+  result);
				}
				
			});
		  });//fin create
		  
		$("#readbtn").click(function(){
			
			var matricula = $('#matricula').val();
			//var resultadodata;
			  $.get("alumnos/"+matricula, function(data, status){
				  $('#nombre').attr('placeholder','nombre').val(data.nombre);
				  $('#carrera').attr('placeholder','carrera').val(data.carrera);
			      alert("Data: " + data.nombre + "\nStatus: " + status);
			      
			    });
	    });//fin read
	    
	    $("#updatebtn").click(function(){
	    	
			  var matricula = $('#matricula').val();
			  var nombre = $('#nombre').val();
			  var carrera = $('#carrera').val();
			  
			  var urldirection="alumnos/"+matricula;
			  alert(urldirection+" "+nombre+" "+carrera);
			  
				$.ajax({
					type : "PUT",
					contentType : "application/json",
					url : urldirection,
					data : JSON.stringify({"matricula":""+matricula+"","nombre":""+nombre+"","carrera":""+carrera+""}/*datos*/),
					dataType : 'json',
					success : function(result) {
						console.log("data: "+  result);
					}
				});
			  });//fin update
	    
		$("#deletebtn").click(function(){
			  var matricula = $('#matricula').val();
			  var urldirection="alumnos/"+matricula ;
			  alert(urldirection);
				$.ajax({
					type : "DELETE",
					url : urldirection,
					success : function(result) {
						console.log("data: "+  result);
					}
				});
			  });//fin delete
	    
	    
	    
	});
	
	
	
	</script>
	
	
</html>